<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
    <title>EnounceAI</title>

    <header>
        <div id="header-container">
            <h1 id="title">EnounceAI </h1>
        </div>
    </header>

    <div id="main">
        <div id="top">
            <div id="phrase-container">            
                <h1 class="phrase-title">Rewrite the following phrase, if grammatically incorrect as correct</p>
            </div>
            <div class="phrase-text">
                <p class="phrase"><%= a%></p>
            </div>
        </div>
        <div id="bottom">
            <div class="phrase-text">
                <p class="phrase"><%= b%></p>
            </div>
            
            <div id="buttons">
                <button id="mic">
                    <img src="https://cdn-icons-png.flaticon.com/512/60/60955.png" id="micimg">
                </button>

                <button id="speaker">
                    <img id="speakerimg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Speaker_Icon.svg/2048px-Speaker_Icon.svg.png">
                </button>
            </div>
        </div>
        <form action="/" >
            <input type="submit" value="Go Back to Index" style="all:unset; padding: 1px; background-color: yellow; border: 1px solid black; margin-left: 5%; padding: 10px; 
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"/>
          </form>
    </div>
</body>


</html>